---
import Layout from "../layouts/Layout.astro";
import Timeline from "../components/Timeline.astro";
const pageTitle = "nicolette.codes";
---

<Layout pageTitle={pageTitle}>
	<section>
		<div class="gif">
			<img
				class="avatar"
				width="250"
				height="199"
				alt="A stylized version of Nicolette as an Octocat(Github mascot)."
				src="/nikki-octocat.png"
			/>
		</div>
		<h1>Nicolette Kuhnke</h1>
		<span class="badge">Frontend Developer</span>
		<h2 class="base-spacing-top">About</h2>
		<p>
			My name is Nicolette (or Nikki for short), I'm a frontend developer
			currently based in Stuttgart, Germany. I've always had an interest
			in technology and started to become curious about coding in 2006
			when I learned a little about it in school. I started an
			apprenticeship to become a software developer in 2008, since
			finishing my apprenticeship I worked as a frontend developer both in
			Australia and Germany.
		</p>
	</section>
	<div class="center">
		<a href="/projects/">
			<button class="btn">My portfolio</button>
		</a>
	</div>
	<div class="center">
		<a href="/nicolettes_cv.pdf" target="_blank">
			<button class="btn">Download CV (German)</button>
		</a>
	</div>
	<section class="skills">
		<h2>Skills</h2>

		<div class="skills__category">
			<div class="skills__category-title">Languages</div>
			<div class="skill__proficiency">
				<span>HTML</span>
				<span class="skill__point skill__point-green"
					>&#10074; &#10074; &#10074; &#10074; &#10074;</span
				>
			</div>

			<div class="skill__proficiency">
				<span>CSS</span>
				<span class="skill__point skill__point-green"
					>&#10074; &#10074; &#10074; &#10074;
				</span>
				<span class="skill__point">&#10074;</span>
			</div>

			<div class="skill__proficiency">
				<span>Javascript</span>
				<span class="skill__point skill__point-green"
					>&#10074; &#10074; &#10074; &#10074;
				</span>
				<span class="skill__point">&#10074;</span>
			</div>

			<div class="skill__proficiency">
				<span>Python</span>
				<span class="skill__point skill__point-green"
					>&#10074; &#10074;
				</span>
				<span class="skill__point">&#10074; &#10074; &#10074;</span>
			</div>
			<div class="skill__proficiency">
				<span>C#</span>
				<span class="skill__point skill__point-green"
					>&#10074; &#10074;
				</span>
				<span class="skill__point">&#10074; &#10074; &#10074;</span>
			</div>
		</div>

		<div class="skills__category">
			<div class="skills__category-title">Frameworks</div>
			<div class="skill__proficiency">
				<span>Svelte</span>
				<span class="skill__point skill__point-green"
					>&#10074; &#10074; &#10074;
				</span>
				<span class="skill__point"> &#10074; &#10074;</span>
			</div>
			<div class="skill__proficiency">
				<span>Astro</span>
				<span class="skill__point skill__point-green"
					>&#10074; &#10074;
				</span>
				<span class="skill__point"> &#10074; &#10074; &#10074;</span>
			</div>
			<div class="skill__proficiency">
				<span>React</span>
				<span class="skill__point skill__point-green"
					>&#10074; &#10074;
				</span>
				<span class="skill__point"> &#10074; &#10074; &#10074;</span>
			</div>
			<div class="skill__proficiency">
				<span>Angularjs</span>
				<span class="skill__point skill__point-green"
					>&#10074; &#10074; &#10074; &#10074;
				</span>
				<span class="skill__point"> &#10074; </span>
			</div>
		</div>
		<div class="skills__category">
			<div class="skills__category-title">Tools & Utility</div>

			<div class="skill__proficiency">
				<span>Highcharts.js</span>
				<span class="skill__point skill__point-green"
					>&#10074; &#10074; &#10074; &#10074;
				</span>
				<span class="skill__point"> &#10074; </span>
			</div>
			<div class="skill__proficiency">
				<span>Git</span>
				<span class="skill__point skill__point-green"
					>&#10074; &#10074; &#10074;
				</span>
				<span class="skill__point"> &#10074; &#10074;</span>
			</div>
			<div class="skill__proficiency">
				<span>Jira</span>
				<span class="skill__point skill__point-green"
					>&#10074; &#10074;
				</span>
				<span class="skill__point"> &#10074; &#10074; &#10074;</span>
			</div>

			<div class="skill__proficiency">
				<span>SQL</span>
				<span class="skill__point skill__point-green"
					>&#10074; &#10074;
				</span>
				<span class="skill__point"> &#10074; &#10074; &#10074;</span>
			</div>
		</div>
	</section>

	<section class="work-experience">
		<h2>Work experience</h2>
		<Timeline />
	</section>
	<section>
		<h2>Interests</h2>
		<p>
			Aside from a general interest in technology, I like to read books,
			play video games, listen to music, build Lego and go roller skating.
		</p>
	</section>
</Layout>

<style>
	.base-spacing-top {
		margin-top: 2.4rem;
	}

	.avatar {
		border-radius: 50%;
		shape-outside: circle();
	}

	.skills {
		margin-top: 1rem;
	}

	.skills__category {
		font-size: 1.6rem;
		margin-top: 1.2rem;
		display: flex;
		flex-wrap: wrap;
		gap: 1.2rem;
	}

	.skills__category-title {
		font-size: 2rem;
	}

	.skill__proficiency {
		text-transform: uppercase;
		background-color: #584966;
		color: var(--text);
		padding: 0.4rem 0.7rem;
	}

	.skill__point:nth-child(2) {
		padding-left: 0.6rem;
	}

	.skill__proficiency:hover,
	.skill__proficiency:focus {
		cursor: pointer;
	}

	.skill__point {
		letter-spacing: -0.1em;
		vertical-align: text-top;
		line-height: 1;
	}

	.skill__point-green {
		color: #78c2ad;
	}

	.work-experience {
		margin-top: 2.4rem;
	}

	@media only screen and (max-width: 600px) {
		.skills__category {
			flex-direction: column;
			width: auto;
		}
	}
</style>
