<div class="timeline">
	<div class="timeline__card">
		<div class="timeline__title">
			<b>Frontend Developer</b>
			<small class="timeline__subtitle">03/2013 – 12/2022</small>
		</div>
		<div class="timeline__description">
			at <a
				class="timeline__link"
				href="https://www.ozgreenenergy.com.au/"
				target="_blank">OzGreen Energy Pty Ltd</a
			> in Stuttgart, Germany.
		</div>
	</div>

	<div class="timeline__card">
		<div class="timeline__title">
			<b>Frontend Developer</b>
			<small class="timeline__subtitle">10/2012 – 02/2013</small>
		</div>
		<div class="timeline__description">
			at Hubble Enterprises Pty Ltd in Brisbane, Australia.
		</div>
	</div>

	<div class="timeline__card">
		<div class="timeline__title">
			<b>Frontend Developer</b>
			<small class="timeline__subtitle"> 03/2012 – 10/2012</small>
		</div>
		<div class="timeline__description">
			at <a
				class="timeline__link"
				href="https://www.ozgreenenergy.com.au/"
				target="_blank">OzGreen Energy Pty Ltd</a
			> in Brisbane, Australia.
		</div>
	</div>

	<div class="timeline__card">
		<div class="timeline__title">
			<b>Vocational education</b>
			<small class="timeline__subtitle">09/2008 - 07/2011</small>
		</div>
		<div class="timeline__description">
			Subject Area: Software Development at <a
				class="timeline__link"
				href="https://www.ntsystems.de/"
				target="_blank">NTSystems</a
			> in Böblingen, Germany and <a
				class="timeline__link"
				href="https://www.gds2.de/home"
				target="_blank">Gottlieb Daimler-Schule 2</a
			> in Sindelfingen, Germany.
		</div>
	</div>
</div>

<style>
	.timeline {
	}

	.timeline__card {
		padding: 1rem;
		margin-bottom: 1.2rem;
	}

	.timeline__title {
		display: flex;
		gap: 1.2rem;
		padding-bottom: 0.2rem;
	}

	.timeline__subtitle {
		font-style: italic;
	}

	.timeline__link {
		color: var(--text-link);
		text-decoration: none;
	}

	.timeline__link:hover {
		cursor: pointer;
	}
</style>
